# --- System Files ---
.DS_Store
Thumbs.db

# --- Development Tools / IDEs ---
.vscode/
.idea/
*.swp

# --- Environment Secrets ---
.env
*.pem
*.key

# --- Dependencies & Build Output ---
node_modules/
dist/
build/
bin/
obj/

# --- Logs ---
*.log
npm-debug.log*
